<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/passfortless-64x64.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-start">
        <span class="navbar-item">
            <h1 class="title">Filebroless - Simple HTTP File Browser</h1>
        </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <span class="navbar-item">
                <a href="https://github.com/passfortless/filebroless" title="Github repository"
                    class="button is-primary is-inverted" target="_blank">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Github</span>
                </a>
            </span>
        </div>
    </div>
</nav>